<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Time comparison</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>
	   
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document).ready(function() {
			$('#incomeYearMonth').DataTable();
			$('#expensesYearMonth').DataTable();
			$('#aincomeYear').DataTable();
			$('#expensesYear').DataTable();
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Time comparison</h1>
		</div>
		<div class="col-md-12">
			<h3 class="col-md-3">Monthly Income</h3>
			<div class="col-md-12">
				<table class="table" id="incomeYearMonth">
					<thead>
						<tr>
							<th>Year</th>
							<th>Month</th>
							<th>Sum</th>
							<th>Difference</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="DTO : ${incomeYearMonth}">
							<td th:text="${DTO.year}"></td>
							<td th:text="${DTO.month}"></td>
							<td th:text="${DTO.sum}"></td>
							<td th:text="${DTO.difference}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-12">
			<h3 class="col-md-3">Monthly Expenses</h3>
			<div class="col-md-12">

				<table class="table" id="expensesYearMonth">
					<thead>
						<tr>
							<th>Year</th>
							<th>Month</th>
							<th>Sum</th>
							<th>Difference</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="DTO : ${expensesYearMonth}">
							<td th:text="${DTO.year}"></td>
							<td th:text="${DTO.month}"></td>
							<td th:text="${DTO.sum}"></td>
							<td th:text="${DTO.difference}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-12">
			<h3 class="col-md-3">Yearly Income</h3>
			<div class="col-md-12">

				<table class="table" id="incomeYear">
					<thead>
						<tr>
							<th>Year</th>
							<th>Sum</th>
							<th>Difference</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="DTO : ${incomeYear}">
							<td th:text="${DTO.year}"></td>
							<td th:text="${DTO.sum}"></td>
							<td th:text="${DTO.difference}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-12">
			<h3 class="col-md-3">Yearly Expenses</h3>
			<div class="col-md-12">

				<table class="table" id="expensesYear">
					<thead>
						<tr>
							<th>Year</th>
							<th>Sum</th>
							<th>Difference</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="DTO : ${expensesYear}">
							<td th:text="${DTO.year}"></td>
							<td th:text="${DTO.sum}"></td>
							<td th:text="${DTO.difference}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>