<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Buyers</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>
	   
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document).ready(function() {
			$('#buyersTable').DataTable();
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Buyers</h1>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
				<table class="table" id="buyersTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Code</th>
							<th>Description</th>
							<th>Contracts</th>
							<th>Remove</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="buyer : ${buyers}">
							<td th:text="${buyer.id}"></td>
							<td th:text="${buyer.name}"></td>
							<td th:text="${buyer.code}"></td>
							<td th:text="${buyer.description}"></td>
							<!-- TODO: Add titles/rows (container-fluid and row) in html to add/edit -->

							<td><a th:href="@{'/contracts/' + ${buyer.id}}">Contracts
							</a></td>
							<td>
								<form th:action="@{'/buyer/delete/' + ${buyer.id}}"
									method="post">
									<button>Remove</button>
								</form>
							</td>
							<td>
								<form th:action="@{'/buyer/edit/' + ${buyer.id}}" method="get">
									<button>Edit</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<form th:action="@{/buyer/add}" method="get">
			<button>Add new buyer</button>
		</form>
	</div>


</body>
</html>