<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Transaction adding</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<form method="POST" th:object="${addTrans}" th:action="@{/trans/add/}">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-lg-6">
					<label>Company:</label> <select th:field="*{company}"
						class="form-control" required="required">
						<option th:each="company : ${companies}" th:value="${company.id}"
							th:text="${company.name}"></option>
					</select>
				</div>
				<div class="form-group col-lg-6">
					<label>Contracts:</label> <input list="contracts"
						class="form-control" th:field="*{contract}">
					<datalist id="contracts">
						<option th:each="contract : ${contracts}"
							th:value="${contract.id}" th:text="${contract.code}"></option>
					</datalist>
				</div>
			</div>
			<div class="form-group col-lg-5">
				<label for="amount" class="control-label">Amount:</label> <input
					type="number" class="form-control" id="amount"
					th:field="*{trans.amount}" required="required" step="0.01">
			</div>
			<div class="form-group col-lg-2">
				<label>Currency:</label> <select th:field="*{trans.currency}"
					class="form-control" required="required">
					<option th:each="currency : ${currencies}"
						th:value="${currency.id}" th:text="${currency.name}"></option>
				</select>
			</div>
			<div class="form-group col-lg-5">
				<label>Transaction type:</label> <input list="types"
					class="form-control" th:field="*{trans.type}" required="required">
				<datalist id="types">
					<option th:each="type : ${types}" th:value="${type.id}"
						th:text="${type.name + '/' + type.subtypeOne + '/' + type.subtypeTwo}"></option>
				</datalist>
			</div>
			<div class="row">
				<label for="description" class="control-label">Description:</label>
				<input type="text" class="form-control" id="description"
					th:field="*{trans.description}">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action">
				<input type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>