<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Contracts</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>
	   
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document).ready(function() {
			$('#contractsTable').DataTable();
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Contracts</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="contractsTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Code</th>
						<th>Agreed amount</th>
						<th>Current amount</th>
<!-- 						<th>Currency</th> -->
						<th>Transactions</th>
						<th>Remove</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contract : ${contracts}">
						<td th:text="${contract.id}"></td>
						<td th:text="${contract.code}"></td>
						<td th:text="${#numbers.formatDecimal(contract.agreedAmount, 1, 'COMMA', 2, 'POINT')} + ' $'"></td>
						<td th:text="${#numbers.formatDecimal(contract.currentAmount, 1, 'COMMA', 2, 'POINT') + ' $'}"></td>
<!-- 						<td th:text="${contract.agreedCurrency.name}"></td> -->
						<td><a th:href="@{'/trans/contracts/' + ${contract.id}}">Transactions
						</a></td>
						<td>
							<form th:action="@{'/contracts/delete/' + ${contract.id}}" method="post">
								<button>Remove</button>
							</form>
						</td>
						<td>
							<form th:action="@{'/contracts/edit/' + ${contract.id}}" method="get">
								<button>Edit</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<form th:action="@{/contracts/add}" method="get">
			<button>Add new contract</button>
		</form>
	</div>


</body>
</html>