<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Employees</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
</head>
<body>
	  
	<script>
		$(document).ready(function() {
			$('#offersTable').DataTable();
		});
	</script>
	 
	<div th:replace="fragments/generalFragments.html :: navbar"></div>


	<div class="container-fluid">
		<div class="col-md-12">
			<div class="col-md-12">
				<h1 class="col-md-3" th:text="${heading}">Employees</h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="display responsive nowrap" id="offersTable"
						width="100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Salary</th>
								<th>Bonus</th>
								<th>Expected Hours</th>
								<th>All Hours</th>
								<th>Add hours</th>
								<th>Pay salary</th>
								<th>All salaries</th>
								<th>Fire</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="e : ${employees}">
								<td th:text="${e.name}"></td>
								<td th:text="${e.position}"></td>
								<td th:text="${e.salary} + '$'"></td>
								<td th:text="${e.bonus} + '$'"></td>
								<td th:text="${e.expectedHours} + 'h'"></td>

								<td>
									<form th:action="@{'/hours/user/' + ${e.id}}" method="get">
										<button>Hours</button>
									</form>
								</td>
								<td>
									<form th:action="@{'/hours/add/' + ${e.id}}" method="post">
										<button>Add hours</button>
									</form>
								</td>
								<td>
									<form th:action="@{'/employees/pay/' + ${e.id}}" method="post">
										<button>Pay salary</button>
									</form>
								</td>
								<td>
									<form th:action="@{'/employees/salaries/' + ${e.id}}"
										method="get">
										<button>All salaries</button>
									</form>
								</td>
								<td>
									<form th:action="@{'/employees/fire/' + ${e.id}}" method="post">
										<button>Fire</button>
									</form>
								</td>
								<td>
									<form th:action="@{'/employees/edit/' + ${e.id}}" method="get">
										<button>Edit</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<form th:action="@{/employees/add}" method="get">
					<button>Add new employee</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>