<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Employee adding</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</head>
<body>
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<form method="POST" th:object="${addEmployee}"
		th:action="@{/employees/add/}">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="name">Name:</label> <input type="text"
						class="form-control" id="name" th:field="*{name}"
						required="required">
				</div>
				<div class="form-group col-lg-2">
					<label for="position">Position:</label> <input type="text"
						class="form-control" id="position" th:field="*{position}"
						required="required">
				</div>
				<div class="form-group col-lg-2">
					<label for="salary" class="control-label">Salary:</label> <input
						type="number" class="form-control" id="salary"
						th:field="*{salary}" required="required" step="1">
				</div>
				<div class="form-group col-lg-2">
					<label for="Hours" class="control-label">Expected Hours:</label> <input
						type="number" class="form-control" id="Hours"
						th:field="*{expectedHours}" required="required" step="1">
				</div>
				<div class="form-group col-lg-2">
					<label for="bonus" class="control-label">Bonus:</label> <input
						type="number" class="form-control" id="bonus" th:field="*{bonus}"
						required="required" step="1" placeholder="0">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-4">
				<input type="submit" th:value="Submit" name="action"> <input
					type="button" onclick="history.go(-1);" value="Back">
			</div>
		</div>
	</form>


</body>
</html>