<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Employee Salary</title>
<th:block th:include="fragments/generalFragments.html :: headerfiles">
</th:block>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
</head>
<body>
	   
	<div th:replace="fragments/generalFragments.html :: navbar"></div>

	<script>
		$(document).ready(function() {
			$('#transTable').DataTable();
		});
	</script>

	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Salaries</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="transTable">
				<thead>
					<tr>
						<th>Created at</th>
						<th>Amount</th>
						<th>Type</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="trans : ${transactions}">
						<td th:text="${trans.createDate}"></td>
						<td
							th:text="${#numbers.formatDecimal(trans.amount, 0, 'COMMA', 2, 'POINT')} + ' $'"></td>
						<td th:text="${trans.type.name}"></td>
						<td th:text="${trans.type.subtypeOne}"></td>
						<td th:text="${trans.description}"></td>
					</tr>
				</tbody>
			</table>

		</div>
		<form th:action="@{'/employees/pay/' + ${employeeId}}" method="post">
			<button>Pay salary</button>
		</form>
	</div>


</body>
</html>